<!-- <p>realtime works!</p>
<div *ngIf="listaUsuarios">
LLEGARON
</div>
<div *ngIf="!listaUsuarios">
    =(
</div> -->

<section class="container">
    <div *ngIf="!listaUsuarios">
        Cargando ....
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card ">
              
              <div class="card-header">
                Formulario de Creacion de Usuarios
              </div>
              <div class="card-body">

                  <form [formGroup]="formulario" (ngSubmit)="onSubmit(miimg)">
                      <div class="form-group">
                          <label for="">Nombre</label>
                          <input type="text" class="form-control" 
                                placeholder="Ingrese su Nombre"
                                [ngClass]="{
                                    'is-valid':formulario.get('campo_nombre').valid,
                                    'is-invalid':!formulario.get('campo_nombre').valid && 
                                                 !formulario.get('campo_nombre').pristine
                                }" 
                                formControlName="campo_nombre">
                          <small class="text-danger" 
                              *ngIf="!formulario.get('campo_nombre').valid && !formulario.get('campo_nombre').pristine">El campo nombre es obligatorio</small>
                      </div>
                      <div class="form-group">
                        <label for="">Apellidos</label>
                        <input type="text" class="form-control" 
                            placeholder="Ingrese su Apellido"
                            [ngClass]="{
                                'is-valid':formulario.get('campo_apellido').valid,
                                'is-invalid':!formulario.get('campo_apellido').valid && 
                                             !formulario.get('campo_apellido').pristine
                            }"
                            formControlName="campo_apellido">
                        <small class="text-danger" 
                              *ngIf="!formulario.get('campo_apellido').valid && !formulario.get('campo_apellido').pristine">El campo apellido es obligatorio</small>
                      </div>
                      <div class="form-group">
                        <label for="">imagen</label>
                        <img [src]="imgUrl" *ngIf="imgUrl"width="100">
                        <input type="file" class="form-control" 
                            placeholder="Selecciona una Imagen " 
                            #miimg
                            formControlName="campo_imagen"
                            (change)="previsualizarFoto($event)">
                      </div>
                      <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" class="form-control" 
                                placeholder="Ingrese su Email" 
                                [ngClass]="{
                                    'is-valid':formulario.get('campo_email').valid,
                                    'is-invalid':!formulario.get('campo_email').valid && 
                                                 !formulario.get('campo_email').pristine
                                }"
                                formControlName="campo_email">
                            <small class="text-danger" *ngIf="formulario.get('campo_email').errors?.required && !formulario.get('campo_email').pristine">El campo email es obligatorio</small>
                            <small class="text-danger" *ngIf="formulario.get('campo_email').errors?.pattern && !formulario.get('campo_email').pristine">El formato del campo incluye @ </small>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-block btn-primary"
                            [disabled]="!formulario.valid">
                            <i class="fas fa-save mr-2   "></i>
                            Crear Usuario
                        </button>
                      </div>

                  </form>
              </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card text-left">
            <div class="card-header text-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-info" (click)="modoTabla=true"><i class="fa fa-list" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-secondary" (click)="modoTabla=false"><i class="fa fa-table" aria-hidden="true"></i></button>
                </div>
            </div>
              <div class="card-body">
                <div class="card-columns" *ngIf="listaUsuarios && !modoTabla">
                    <div class="card" *ngFor="let usu of listaUsuarios; let i=index">
                        <img [src]="usu.imagen" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Nombre:</strong>{{usu.nombre}}
                            </p>
                            <p class="card-text">
                                <strong>Apellido:</strong>{{usu.apellido}}
                            </p>
                            <p class="card-text">
                                <strong>Email:</strong>{{usu.email}}
                            </p>
                        </div>
                    </div>
                </div>
                <table class="table" *ngIf="listaUsuarios && modoTabla">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Imagen</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usu of listaUsuarios; let i=index">
                            <th>{{i+1}}</th>
                            <td>{{usu.id}}</td>
                            <td>{{usu.nombre}}</td>
                            <td>{{usu.apellido}}</td>
                            <td>
                                <img [src]="usu.imagen" width="100">
                            </td>
                            <td>
                                    <button  class="btn btn-info" (click)="abrirModalEditar(usu.id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                    <button  class="btn btn-danger ml-2" (click)="eliminarUsuario(usu.id)"> <i class="fas fa-trash-alt    "></i></button>
                            </td>
                            <!-- <td><img src="{{item.imagen}}" alt=""></td> -->  
                        </tr>
                    </tbody>
                </table>    
              </div>
            </div>
            
        </div>
    </div>
    
</section>
